/* Preferred Default Font */
@font-face {
  font-family: "lora";
  src:  url("../Assets/Fonts/lora-variablefont_wght-webfont.woff") format("woff"),
        url("../Assets/Fonts/lora-variablefont_wght-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


:root {
  --slant-angle: -10deg;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "lora";
}

body {
  display: grid;
  grid-template-rows: 1fr 1fr .5fr;
  height: 100vh;
}

section.about-me {
  position: relative;
  grid-row: 1;
  display: flex;
  justify-content: center;
  padding: .5em;
  align-items: center;
  overflow: hidden;
}
section.about-me::before {
  content: "";
  width: calc(100vw*2);
  height: 100vh;
  background-color: #0891B2;
  transform-origin: top left;
  transform: rotate(-10deg);
  position: absolute;
  border-bottom: 2px solid red;
  top: -50vh;
  left: -50vw;
  z-index: -1;  
}

section.about-me div.about-me-info-container {
  display: flex;
  justify-content: center;

  margin: 1em;  
}
.headshot-image {
  width: 25%;
  height: auto;
}

section.my-work {
  background-color: palevioletred;
  grid-row: 2;
}

footer {
  grid-row: 3;
}



